---
import { getBlogPosts } from "@utils/getAllTags";
import Base from "@layouts/Base.astro";
import Posts from "@layouts/Posts.astro";
import Pagination from "@components/Pagination.astro";
import config from "@config/config.json";
import { getPageNumbers } from '@utils/pagination'


export async function getStaticPaths({ paginate }) {
  const allPosts = await getBlogPosts()
  return paginate(allPosts, {
    pageSize: config.site.pageSize,
  });
}

const { page } = Astro.props;
const pageWindow = getPageNumbers(page, 3)
const prevUrl = page.url.prev ? `${page.url.prev}/` : undefined
const nextUrl = page.url.next ? `${page.url.next}/` : undefined
const lastUrl = page.lastPage ? `/blog/${page.lastPage}/` : undefined
---

<Base meta_title="Blog">
  <h1 class="text-2xl md:text-3xl font-bold mb-8">Blog</h1>
  <Posts posts={page.data} />
  <Pagination
    pageWindow={pageWindow}
    length={page.lastPage}
    currentUrl={page.url.current}
    currentPage={page.currentPage}
    firstUrl={`/blog/`}
    prevUrl={prevUrl}
    nextUrl={nextUrl}
    lastUrl={lastUrl}
  />
</Base>
