---
import { type CollectionEntry } from "astro:content";
import Base from "@layouts/Base.astro";
import SnipPost from "@layouts/SnipPost.astro";
import { getSnippets, getEntryParams } from "@utils/snippets";
import Code from "@components/mdx/Code.astro";
export async function getStaticPaths() {
  // Fetch all the posts from the collection 'blog'
  const posts = await getSnippets()

  // Iterate over the posts, generating the tokens and
  // setting them inside the `params` key.
  // Astro will use anything inside `params` as the token
  // for a dynamic route segment.
  return posts.map((post) => ({
    params: getEntryParams(post),
    props: post,
  }));
}

type Props = CollectionEntry<"snip">;
const post = Astro.props;
const { Content } = await post.render();

---

<SnipPost {...post.data}>
  <Content components={{ pre: Code }} />
</SnipPost>
