---
import { getSnippets, getEntryParams } from "@utils/snippets";
import Base from "@layouts/Base.astro";
import Snips from "@layouts/Snips.astro";
import Pagination from "@components/Pagination.astro";
import config from "@config/config.json";
import { getPageNumbers } from '@utils/pagination'



export async function getStaticPaths({ paginate }) {
  const snippets = await getSnippets()
  return paginate(snippets, {
    pageSize: config.site.pageSize,
  });
}

const { page } = Astro.props;
const pageWindow = getPageNumbers(page, 3)
const prevUrl = page.url.prev ? `${page.url.prev}/` : undefined
const nextUrl = page.url.next ? `${page.url.next}/` : undefined
const lastUrl = page.lastPage ? `/snip/${page.lastPage}/` : undefined
---

<Base meta_title="Snippets">
  <h1 class="text-2xl md:text-3xl font-bold mb-8">Snippets</h1>
  <Snips snips={page.data} />
  <Pagination
    pageWindow={pageWindow}
    length={page.lastPage}
    currentUrl={page.url.current}
    currentPage={page.currentPage}
    firstUrl={`/snip/`}
    prevUrl={prevUrl}
    nextUrl={nextUrl}
    lastUrl={lastUrl}
  />
</Base>
