@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .prose code.pre {
    @apply text-base !important;
  }
  .prose :not(pre) > code {
    @apply bg-gray-200;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-zinc-800 dark:text-zinc-200;
  }
  p,
  li,
  strong,
  blockquote,
  table * {
    @apply font-sans text-zinc-700 dark:text-zinc-300;
  }
  kbd {
    @apply bg-white text-zinc-700;
  }
  mark {
    @apply bg-yellow-300;
  }
}

code {
  background-color: blue;
}

.video-wrapper {
  aspect-ratio: 16 / 9;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
}

input#nav-toggle:checked ~ label#show-button {
  @apply hidden;
}

input#nav-toggle:checked ~ label#hide-button {
  @apply flex md:hidden;
}

input#nav-toggle:checked ~ #nav-menu {
  @apply block md:flex;
}

.sun {
  @apply stroke-zinc-500 transition-all;
}
.moon {
  @apply stroke-transparent transition-all;
}
.dark .sun {
  @apply stroke-transparent;
}
.dark .moon {
  @apply stroke-zinc-400;
}
#themeToggle:hover .sun {
  @apply stroke-zinc-800;
}
#themeToggle:hover .moon {
  @apply stroke-transparent;
}
.dark #themeToggle:hover .sun {
  @apply stroke-transparent;
}
.dark #themeToggle:hover .moon {
  @apply stroke-zinc-200;
}
