---
import Base from "@layouts/Base.astro";
import { getTaxonomy } from "@utils/getAllTags";
import { getSinglePage } from "@utils/getAllTags";
import { getPostsByTag } from "@utils/getAllTags";
import Post from '@components/Post.astro';

export async function getStaticPaths() {
  const tags = await getTaxonomy("blog", "tags");

  return tags.map((tag) => {
    return {
      params: {
        tag: tag.slug.toLowerCase(),
      },
      props: { tag },
    };
  });
}


const { tag } = Astro.props
const posts = await getSinglePage("blog");
const filterByTags = getPostsByTag(posts, tag.name)
---

<Base>
  <h1 class="text-2xl md:text-3xl font-bold mb-8">Tag: {tag.name}</h1>
  <div class="mx-auto grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
    {
    filterByTags?.map((post) => (
      <Post post={post} />
    ))
    }
  </div>

</Base>
