---
import lodash from 'lodash'
import Base from "@layouts/Base.astro";
import { getTaxonomy } from "@utils/getAllTags";

const { sortBy } = lodash

const rawTags = await getTaxonomy("blog", "tags");

const tagCount = rawTags.reduce((memo, tag) => {
  const tagName = tag.name.toLowerCase()
  memo[tagName] = memo[tagName] || { tag, count: 0 }
  memo[tagName].count++
  return memo
}, {})
const tags = sortBy(Object.values(tagCount), 'tag.name')

---

<Base>
  <h1 class="text-2xl md:text-3xl font-bold mb-8">Tags:</h1>
  <section class="grid grid-cols-4">
      {
        tags.map(({ tag, count }) => (
          <div class="flex flex-wrap gap-3">
            <a
              class='text-lg text-red-400'
              href={`/tags/${tag.slug.toLowerCase()}/`}
              title={`View posts with the tag: ${tag.name}`}
            >
              {tag.name}
              <span class="ml-2 bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">{ count }</span>
            </a>
          </div>
        ))
      }
    </ul>
  </section>
</Base>
