---
import { type CollectionEntry } from "astro:content";
import { getBlogPosts } from "@utils/getAllTags";
import BlogPost from "@layouts/BlogPost.astro";
import Code from "@components/mdx/Code.astro";
import OldPost from "@components/OldPost.astro";

export async function getStaticPaths() {
  const posts = await getBlogPosts()
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
const now = new Date()
const tooOld = now.getFullYear() - 6
const isOld = post.data.pubDate.getFullYear() < tooOld
---

<BlogPost {...post.data}>
  {isOld && <OldPost/>}
  <Content components={{ pre: Code }} />
</BlogPost>
