---
import { getBlogPosts } from "@utils/getAllTags";
import { getSnippets, getEntryParams } from "@utils/snippets";
import HomePagination from "@components/HomePagination.astro";
import Base from "@layouts/Base.astro";
import Posts from "@layouts/Posts.astro";
import Snips from "@layouts/Snips.astro";
import FormattedDate from "@components/FormattedDate.astro";

const allSorted = await getBlogPosts()
const posts = allSorted.slice(0, 6)
const allSnippets = await getSnippets()
const snippets = allSnippets.slice(0, 3)
---

<Base includeHero>
  <Snips snips={snippets} />
  <hr class="border-t border-gray-300 my-10">
  <Posts posts={posts} />
  <HomePagination />
</Base>
