---
import config from "@config/config.json";
const year = new Date().getFullYear();
---

<footer class="mx-auto max-w-screen-lg px-4 sm:px-6 lg:px-8">
  <div class="border-t border-zinc-100 dark:border-zinc-900">
    <p class="text-center text-xs/relaxed text-zinc-500 dark:text-zinc-400 mt-8 mb-8">
      &copy; {year}. {config.site.title} - <a href="https://astro.build/themes/details/ev0/">EV0</a>. All rights REVERSED
    </p>
  </div>
</footer>
