---
import menu from '@config/menu.json';
import config from '@config/config.json';
import HamburgerIcon from '@icons/HamburgerIcon.astro';
import CloseIcon from '@icons/CloseIcon.astro';
import HomeIcon from '@icons/HomeIcon.astro';
import ThemeIcon from '@components/ThemeIcon.astro';

export interface NavigationLink {
  name: string;
  url: string;
}

const { main }: { main: NavigationLink[] } = menu;
---

<header class="bg-zinc-50 dark:bg-zinc-900">
  <div class="mx-auto max-w-screen-lg px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <div class="flex items-start justify-between gap-2 sm:gap-4 md:items-center">
        <div
          class="text-lg md:text-2xl font-bold text-zinc-900 dark:text-white sm:text-3xl mb-0"
        >
          {config.author.name}
        </div>
      <div class="relative order-3 flex">
        <!-- navbar toggler -->
        <input id="nav-toggle" type="checkbox" class="hidden" />
        <label
          id="show-button"
          for="nav-toggle"
          class="order-2 flex cursor-pointer items-center text-zinc-400 md:hidden"
        >
          <HamburgerIcon />
        </label>
        <label id="hide-button" for="nav-toggle" class="order-2 hidden cursor-pointer items-center text-zinc-400">
          <CloseIcon />
        </label>
        <!-- /navbar toggler -->
        <div
          id="nav-menu"
          class="absolute right-0 top-8 z-10 mt-2 hidden w-44 divide-y divide-zinc-100 rounded-md border border-zinc-100 bg-white p-2 shadow-lg dark:border-zinc-900 dark:bg-zinc-800"
        >
          <ul class="py-2 text-sm text-zinc-700 dark:text-zinc-200">
            {
              main?.map((menu) => (
                <li>
                  <a
                    href={menu?.url}
                    class="block rounded-lg px-4 py-2 text-sm text-zinc-500 hover:bg-zinc-50 hover:text-zinc-700 dark:text-zinc-400 dark:hover:bg-zinc-200 dark:hover:text-zinc-800"
                  >
                    {menu?.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
      <ul class="ml-auto hidden items-center gap-6 md:flex lg:flex">
        {
          main?.map((menu) => (
            <li class="text-md block rounded-lg px-2 py-2 text-zinc-500 transition-all hover:text-zinc-800 dark:text-zinc-400 dark:hover:text-zinc-200">
              <a href={menu?.url} class="relative flex items-center">
                {menu?.name === 'Home' ? <HomeIcon /> : menu?.name}
              </a>
            </li>
          ))
        }
      </ul>
      {config.features.dark_mode && <ThemeIcon />}
    </div>
  </div>
</header>
