---
import { Image } from "astro:assets";
import config from "@config/config.json";
import social from "@config/social";

const socialItems = social.networks.filter(soc => !soc.disabled);
---

<section class="bg-zinc-50 dark:bg-zinc-900">
  <div class="mx-auto max-w-screen-lg px-4 py-0 sm:px-6 pb-6 sm:pb-12 lg:px-8">
    <div class="flex items-start justify-between">
      <div class="rounded-lg w-3/5">
        <p class="mt-1.5 text-sm md:text-lg text-zinc-500 dark:text-zinc-400">
          {config.author.bio}
        </p>
        <div class="flex space-x-5 pt-8 m-auto">
          {
            socialItems?.map((item) => (
              <a href={item.url} target="_blank" rel="noopener noreferrer">
                <figure>
                  <Fragment set:html={item.svg} />
                </figure>
              </a>
            ))
          }
        </div>
      </div>
      <div class="rounded-lg">
        <figure class="right-0">
          <Image
            class="rounded-lg w-24 md:w-32"
            width={512}
            height={512}
            src={config.author.avatar}
            alt={config.author.name}
            decoding="async"
            loading="lazy"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
