---
import RightArrowIcon from "@components/icons/RightArrowIcon.astro";
const classVal = "inline-block rounded border border-indigo-600 dark:border-indigo-400 dark:hover:border-indigo-600 px-12 py-3 text-sm font-medium text-indigo-600 dark:text-indigo-400 dark:hover:text-white hover:bg-indigo-600 hover:text-white focus:outline-none focus:ring active:bg-indigo-500 transition-all"
---


<div class="m-auto text-right mt-12">
  <a
    class={`${classVal} mr-12`}
    href="/tags"
  >
    All Tags
    <RightArrowIcon />
  </a>
  <a
    class="inline-block rounded border border-indigo-600 dark:border-indigo-400 dark:hover:border-indigo-600 px-12 py-3 text-sm font-medium text-indigo-600 dark:text-indigo-400 dark:hover:text-white hover:bg-indigo-600 hover:text-white focus:outline-none focus:ring active:bg-indigo-500 transition-all"
    href="/blog"
  >
    All Posts
    <RightArrowIcon />
  </a>
</div>
