<section class="border-4 border-red-600 bg-red-500 p-3 text-white !important">
  <h3>Hold on Cowboy</h3>
  <p class="text-white">This blog post is pretty old. Be careful with the information you find in here. The Times They Are A-Changin'
</section>
