---
import NextIcon from '@icons/NextIcon.astro';
import PrevIcon from '@icons/PrevIcon.astro';

const { pageWindow, length, currentPage, firstUrl, prevUrl, nextUrl } = Astro.props;
const paginationList = Array.from({ length }, (_, i) => i + 1);
const windowFirstPage = pageWindow[0]
const windowLastPage = pageWindow[pageWindow.length - 1]
---

<nav class="mt-12">
  <ol class="flex justify-center gap-3 text-xs font-medium">
    {
      prevUrl ? (
        <li>
          <a
            href={prevUrl}
            class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100  text-zinc-900 rtl:rotate-180 dark:text-white"
          >
            <span class="sr-only">Prev Page</span>
            <PrevIcon />
          </a>
        </li>
      ) : null
    }

    {
      pageWindow[0] > 1 && (
        <li>
          <a
            href={`${firstUrl}`}
            class={`block h-8 w-8 rounded border text-center leading-8 text-zinc-900 dark:text-white`}
          >
            1
          </a>
        </li>
      )
    }

    {
      pageWindow[0] > 2 && (
        <li><span
          class={`block h-8 w-8 rounded border text-center leading-8 text-zinc-900 dark:text-white`}
        >&hellip;</span></li>
      )
    }

    {
      pageWindow?.map((num) => (
        <li>
          <a
            href={`${firstUrl}${num == 1 ? '' : '' + num + '/'}`}
            class={`block h-8 w-8 rounded border text-center leading-8 text-zinc-900 dark:text-white ${
              currentPage == num ? 'border-indigo-600 bg-indigo-500 !text-white' : ''
            }`}
          >
            {num}
          </a>
        </li>
      ))
    }
    {
      false && paginationList?.map((num) => (
        <li>
          <a
            href={`${firstUrl}${num == 1 ? '' : '' + num}`}
            class={`block h-8 w-8 rounded border text-center leading-8 text-zinc-900 dark:text-white ${
              currentPage == num ? 'border-indigo-600 bg-indigo-500 !text-white' : ''
            }`}
          >
            {num}
          </a>
        </li>
      ))
    }

    {
      windowLastPage < length - 1 && (
        <li><span
          class={`block h-8 w-8 rounded border text-center leading-8 text-zinc-900 dark:text-white`}
        >&hellip;</span></li>
      )
    }


    {
      windowLastPage < length && (
        <li>
          <a
            href={`${firstUrl}${length}/`}
            class={`block h-8 w-8 rounded border text-center leading-8 text-zinc-900 dark:text-white`}
          >
          { length }
          </a>
        </li>
      )
    }

    {
      nextUrl ? (
        <li>
          <a
            href={nextUrl}
            class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100 text-zinc-900 rtl:rotate-180 dark:text-white"
          >
            <span class="sr-only">Next Page</span>
            <NextIcon />
          </a>
        </li>
      ) : null
    }
  </ol>
</nav>
