---
import { Image } from "astro:assets";
import FormattedDate from "@components/FormattedDate.astro";

const { post } = Astro.props;
const slug = `/${post.slug}/`
---
<article class="flex w-full flex-col items-start">
  <div class="rounded-lg block overflow-hidden mb-2">
    {post.data.heroImage && (
      <a href={slug}>
        <figure class="w-auto h-auto md:h-[120px]">
          <Image
            class="object-cover transition duration-300 ease-in-out hover:scale-110"
            src={post.data.heroImage}
            alt={post.data.title}
            width={960}
            height={480}
            decoding="async"
            loading="lazy"
          />
        </figure>
      </a>
    )}
  </div>
  <div class="flex items-center gap-x-4 text-xs text-zinc-900 dark:text-white">
    <FormattedDate date={post.data.pubDate} />
  </div>
  <div class="relative">
    <h2 class="mt-3 text-xl font-semibold leading-6 text-zinc-900 dark:text-white group-hover:text-zinc-600">
      <a href={slug}>
        <span class="absolute inset-0" />
        {post.data.draft ? '[DRAFT]' : ''} {post.data.title}
      </a>
    </h2>
    <p class="mt-5 line-clamp-3 text-sm leading-6 text-zinc-600">
      {post.data.description}
    </p>
  </div>
</article>
