---
import FormattedDate from "@components/FormattedDate.astro";
import { getEntryParams } from "@utils/snippets";

const { snip } = Astro.props;

const { path, year, month, day } = getEntryParams(snip);
const slug = `/snip/${path}/`
---
<article class="flex w-full flex-col items-start">
  <div class="relative">
    <h2 class="mt-3 text-xl font-semibold leading-6 text-zinc-900 dark:text-white group-hover:text-zinc-600">
      <a href={slug}>
        <span class="absolute inset-0" />
        {snip.data.draft ? '[DRAFT]' : ''} {snip.data.title}
      </a>
    </h2>
  </div>
  <div class="flex items-center gap-x-4 text-xs text-zinc-900 dark:text-white">
    <FormattedDate date={snip.data.pubDate} />
  </div>
</article>
