---
import { slugify } from "@utils/slug";
const { tags } = Astro.props
---
<div class="mx-3 flex items-center flex-wrap font-medium mt-2">
  {
  tags?.map((tag) => (
  <a
    href={`/tags/${slugify(tag)}`}
    class="capitalize inline-block bg-zinc-200 rounded-full px-3 py-1 text-sm font-semibold text-zinc-700 mr-2 mb-2 dark:bg-zinc-900 dark:text-zinc-400"
  >
    #{tag}
  </a>
  ))
  }
</div>
