---
import Base from '@layouts/Base.astro';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import Tags from '@components/Tags.astro';
import CalendarIcon from '@icons/CalendarIcon.astro';
import { Image } from 'astro:assets';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, heroImage, tags } = Astro.props;
---

<Base meta_title={title} description={description} image={heroImage} blogpost>
  <article>
    <div class="mb-8 block overflow-hidden rounded-lg">
      {
        heroImage && (
          <figure class="h-auto w-auto object-cover md:h-[480px]">
            <Image
              class="transition duration-300 ease-in-out hover:scale-110"
              src={heroImage}
              alt={title}
              width={960}
              height={480}
              decoding="async"
              loading="lazy"
            />
          </figure>
        )
      }
    </div>
    <div class="md:col-10 mb-12 text-center">
      <h1 class="text-2xl font-bold md:text-4xl">{title}</h1>
      <div class="text-text mt-4 flex flex-wrap items-center justify-center text-zinc-800 dark:text-zinc-200">
        <div class="mx-3 mt-2 flex flex-wrap items-center font-medium">
          <CalendarIcon />
          <FormattedDate date={pubDate} />
        </div>
        <Tags tags={tags} />
      </div>
    </div>
    <div class="prose-md prose prose-green min-w-full md:prose-lg">
      <slot />
    </div>
  </article>
</Base>
