---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
const { frontmatter } = Astro.props;
---
<Base meta_title={frontmatter.title}>
  <Page title={frontmatter.title}>
    <slot />
  </Page>
</Base>

