---
import Base from "@layouts/Base.astro";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import CalendarIcon from "@icons/CalendarIcon.astro";
import { Image } from "astro:assets";
import Tags from "@components/Tags.astro";
import { slugify } from "@utils/slug";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage, tags } =
  Astro.props;
---

<Base meta_title={title} description={description} image={heroImage} blogpost>
  <article>
    <div class="rounded-lg block overflow-hidden mb-8">
      {
        heroImage && (
          <figure class="w-auto h-auto md:h-[480px] object-cover">
            <Image
              class="transition duration-300 ease-in-out hover:scale-110"
              src={heroImage}
              alt={title}
              width={960}
              height={480}
              decoding="async"
              loading="lazy"
            />
          </figure>
        )
      }
    </div>
    <div class="md:col-10 text-center mb-12">
      <h1 class="text-2xl md:text-4xl font-bold">{title}</h1>
      <div class="mt-4 flex flex-wrap items-center justify-center text-text text-zinc-800 dark:text-zinc-200">
        <div class="mx-3 flex items-center flex-wrap font-medium mt-2">
          <CalendarIcon />
          <FormattedDate date={pubDate} />
        </div>
        <Tags tags={tags} />
      </div>
    </div>
    <div class="prose prose-green prose-md md:prose-lg min-w-full">
      <slot />
    </div>
  </article>
</Base>
